.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog {
  background: #480350;
  border-radius: 8px;
  padding: 20px;
  min-width: 300px;
  max-width: 500px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--accent);
  font-size: 35px;
  cursor: pointer;
  transition: color 0.3s;
}

.closeButton:hover {
  color: var(--accent-hover);
}
