.cardItem {
  position: relative;
  width: calc((100% - 20px) / 2);
  border: 1px solid var(--accent-bg);
  border-radius: 15px;
  padding: 20px;
  font-size: 18px;
  color: var(--text-h);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in;

  @media (max-width: 1024px) {
    font-size: 20px;
  }

  @media (max-width: 850px) {
    max-width: calc((100% - 40px) / 2);
  }

  @media (max-width: 640px) {
    min-width: 100%;
  }
}

.cardItem:hover {
  box-shadow: var(--shadow);
}

.cardItem__title {
  font-size: 23px;
  margin-bottom: 10px;
  color: var(--accent-primary);

  span {
    color: var(--text-h);
  }

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.cardItem__description {
  margin: 9px 0;
}

.cardItem__description span {
  font-weight: 700;
  color: var(--label-muted);
}

.cardItem__checkbox {
  position: absolute;
  top: 8px;
  right: 8px;
  transform: scale(1.5);
}
