.testErrorButton {
  margin-top: 50px;
  background: var(--secondary-bg);
  color: var(--secondary-white);
  align-self: end;
}

.testErrorButton:hover:enabled {
  background: var(--secondary-hover);
}
